* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  font-size: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
header {
  width: 100%;
  height: 160px;
  background-color: #4988c1;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.container {
  width: 100vw;
  height: 250px;
  background-color: rgb(125, 218, 198);
  position: absolute;
}

.circulo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  background-color: tomato;
  color: white;
  position: relative;
  top: -70px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  width: 50%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
}
